@tailwind base;
@tailwind components;
@tailwind utilities;

.board,
.create-board {
  @apply h-20 w-[10rem] m-3 rounded p-1;
}
#board_name:not(:placeholder-shown) ~ #create-btn {
  @apply bg-green-400;
}
.listData, .addListDialog, .listActionDialog{
  @apply bg-gray-400 text-white h-max rounded w-[250px] p-2  
}
.rama{
  @apply bg-gray-400 text-white h-max rounded w-[250px] p-2  
}
.cardDisplay, .add-card{
  @apply bg-white text-black  h-max  px-2 py-1 rounded my-1
}

.input-card, .list-input{
  @apply h-max  px-2 py-1 rounded my-1 w-[235px] text-black
}
.boardNameTagContainer:hover  .board-options{
  display: block;
}
